@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-Bold.woff2') format('woff2'),
        url('../fonts/Omnes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-BoldItalic.woff2') format('woff2'),
        url('../fonts/Omnes-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-ExLight.woff2') format('woff2'),
        url('../fonts/Omnes-ExLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/OmnesLight-Italic.woff2') format('woff2'),
        url('../fonts/OmnesLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-Light.woff2') format('woff2'),
        url('../fonts/Omnes-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-MedItalic.woff2') format('woff2'),
        url('../fonts/Omnes-MedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-Italic.woff2') format('woff2'),
        url('../fonts/Omnes-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-Medium.woff2') format('woff2'),
        url('../fonts/Omnes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-Regular.woff2') format('woff2'),
        url('../fonts/Omnes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Omnes-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-SemiBold.woff2') format('woff2'),
        url('../fonts/Omnes-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-Thin.woff2') format('woff2'),
        url('../fonts/Omnes-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes-ThinItalic.woff2') format('woff2'),
        url('../fonts/Omnes-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
